<div id="main">
    	<div class="fof">
        		<h1>Error 404</h1>
                <p>La página que está buscando ya no existe o nunca ha existido.</p>
                <ul>
                    <li><a href="/">Ir a la home</a></li>
                    <li><a href="/contact/feedback">Página de contacto</a></li>
                </ul>
    	</div>

</div>
