name: Deploy to OVHcloud Power
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  deploy:    
    runs-on: ubuntu-latest
    env:
        OVH_SSH_HOST: ${{ secrets.OVH_SSH_HOST }}
        OVH_SSH_PORT: ${{ secrets.OVH_SSH_PORT }}
        OVH_SSH_USERNAME: ${{ secrets.OVH_HOSTING_USER }}
        OVH_SSH_PASSWORD: ${{ secrets.OVH_HOSTING_PASSWORD }}
        OVH_WEBSITE_URL: ${{ secrets.OVH_WEBSITE_URL }}    
        DRUPAL_USER: ${{ secrets.DRUPAL_USER }}    
    steps:
      - name: Install prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y curl jq sshpass openssh-client

      - name: WakeUp website           
        run: curl --silent --insecure --location --write-out "%{http_code}" -o /dev/null ${OVH_WEBSITE_URL}

      - name: Clone over SSH
        run: sshpass -p ${OVH_SSH_PASSWORD} ssh -oStrictHostKeyChecking=no -oUserKnownHostsFile=/dev/null -oLogLevel=quiet ${OVH_SSH_USERNAME}@${OVH_SSH_HOST} -p ${OVH_SSH_PORT} -- 'chmod -R 777 www/sites/ && rm -rf  www && git clone '${GITHUB_SERVER_URL}'/'${GITHUB_REPOSITORY}'.git --single-branch --branch '${GITHUB_REF##*/}' www'

      - name: Composer install
        run: sshpass -p ${OVH_SSH_PASSWORD} ssh -oStrictHostKeyChecking=no -oUserKnownHostsFile=/dev/null -oLogLevel=quiet ${OVH_SSH_USERNAME}@${OVH_SSH_HOST} -p ${OVH_SSH_PORT} -- 'php ./bin/composer install -d www'

      - name: Create sym links
        run: sshpass -p ${OVH_SSH_PASSWORD} ssh -oStrictHostKeyChecking=no -oUserKnownHostsFile=/dev/null -oLogLevel=quiet ${OVH_SSH_USERNAME}@${OVH_SSH_HOST} -p ${OVH_SSH_PORT} -- 'cd www/sites/gelr.es && ln -s ../../../shared/gelr.es/files files'

      - name: Drupal credentials
        run: sshpass -p ${OVH_SSH_PASSWORD} ssh -oStrictHostKeyChecking=no -oUserKnownHostsFile=/dev/null -oLogLevel=quiet ${OVH_SSH_USERNAME}@${OVH_SSH_HOST} -p ${OVH_SSH_PORT} -- 'php bin/envs.php www/sites/gelr.es/settings.php'

      - name: Rebuild drupal
        run: sshpass -p ${OVH_SSH_PASSWORD} ssh -oStrictHostKeyChecking=no -oUserKnownHostsFile=/dev/null -oLogLevel=quiet ${OVH_SSH_USERNAME}@${OVH_SSH_HOST} -p ${OVH_SSH_PORT} -- 'cd www/sites/gelr.es && ../../vendor/bin/drush rebuild'

      - name: WakeUp website
        run: curl --silent --fail --insecure --location --write-out "%{http_code}" -o /dev/null ${OVH_WEBSITE_URL}
